.bx-core-adm-dialog button, .bx-core-adm-dialog input, .bx-core-adm-dialog optgroup, .bx-core-adm-dialog select, .bx-core-adm-dialog textarea {
    -webkit-appearance: auto !important;
}
.cs-invbl {
    display: none;
}
.cs-invbl_imp {
    display: none!important;
}
.cs-err {
    color: red;
}
.fc-select.cs-selected .fc-selected-text {
    opacity: 1;
    visibility: visible;
}
.fc-component.fc-placeholder-shift.cs-selected .fc-in-paceholder, .fc-component.fc-placeholder-shift.active .fc-in-paceholder {
    visibility: visible;
    opacity: 1;
    -webkit-transform: matrix3d(0.93, 0, 0.00, 0, 0, 0.93, 0.00, 0, 0, 0, 1, 0, 0, -10, 0, 1);
    transform: matrix3d(0.93, 0, 0.00, 0, 0, 0.93, 0.00, 0, 0, 0, 1, 0, 0, -10, 0, 1);
}